{% extends 'basecrud.html' %}
{% block table %}
 <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>email</th>
          <th>Telefono</th>
          <th>Fecha Registro</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for object in eventos%}
          <tr>
            <td>{{ object.nombre }}</td>
            <td>{{ object.email }}</td>
            <td>{{ object.Telefono }}</td>
            <td>{{ object.fecha_registro }}</td>
            <td>
              <a
                href="{% url 'voluntarios' object.id %}"
                class="btn btn-warning btn-sm"
              >
                Editar
              </a>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  onclick="abrirModalEliminar({{ object.id }}, '{{ object.nombre }}')"
                >
                  Eliminar
                </button>
              </form>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No se encontraron registros.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <script>
        $(document).ready(function() {
            $("#buscador").attr('placeholder',"Buscar por Nombre, email o Telefono");
        });
  </script>
{% endblock %}